/.vscode
/19
/20Feb2024
/21Feb2024
/40-60or70-90.html
/4_numbers.html
/Add_file
/american_flag.html
/arith.html
/averagedoc.html
/Background
/bmi.html
/bt25_75.html
/chumma.html
/circle.html
/comp.js
/count.html
/Countdown_Timer
/dam.html
/dam2.html
/dam3.html
/demo.html
/DigitalCalculator
/divi_3_5.html
/eveodd.html
/Finding_10.html
/first.xml
/first_last.html
/flag_dup.html
/floating.html
/gang.html
/gang2.js
/gang3.js
/gang4.js
/gang5.js
/hr_min_sec.html
/insert_beginning.html
/integer_rev.html
/jan.js
/JQuery
/leapyear.html
/midpop.js
/min_max.html
/numresult.html
/odd_limit.html
/out.js
/output.js
/paliendrom.html
/parsum.html
/Pattern
/prime.html
/ProfilePicture
/Quiz
/range_num.html
/remove_first_char.html
/replace_element.html
/rev_java.html
/sample.html
/second.xml
/SquareCube.html
/stringlen.html
/sum.html
/sum_array.html
/swap_elements.html
/Timestamp
/Tracffic.html
/Vowel.html
/white_spaces.html
/work_for_doc.html
/_multiplication.html
/_uppercase.html